.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-top: 20px;
    gap: 10px;
    color: #1A0DBD;
}

.text {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto;
}